<p>Hola <strong>{advertiser}</strong>,</p>
<p>Mi nombre es <strong>{agent}</strong>, y soy del equipo de Soluciones</p>
<p>T&eacute;cnicas de Google. Intent&eacute; llamar al siguiente n&uacute;mero: <strong>{phone}</strong>, sin &eacute;xito, &iquest;Tiene otro n&uacute;mero para contactarlo?</p>
<p>Su consultor&iacute;a estaba programada para hoy, con el objetivo de ayudarlo a implementar la siguiente tarea:<br /><br /></p>
<ul>
<li><strong>{Explique la tarea}<br /><br /></strong></li>
</ul>
<p>En su sitio web: <strong>{url}</strong></p>
<p>Intentar&eacute; llamarte nuevamente en 10 minutos, si lo prefieres, puedes acceder al v&iacute;nculo a nuestra reuni&oacute;n: <strong>{meet}</strong></p>
<p>Gracias.</p>
