<p>Ol&aacute; <strong>{advertiser}</strong></p>
<p>Aqui &eacute; <strong>{agent}</strong> da equipe de Solu&ccedil;&otilde;es T&eacute;cnicas do Google. Tentei ligar no seguinte n&uacute;mero: <strong>{phone}</strong> sem sucesso, teria outro n&uacute;mero para que eu possa entrar em contato ?&nbsp;</p>
<p>Sua consultoria estava marcada para hoje, com o objetivo de lhe auxiliar a implementar a seguinte tarefa:<br /><br /></p>
<ul>
<li><strong>{Explicar a tarefa}<br /><br /></strong></li>
</ul>
<p>Em seu site: <strong>{url}</strong></p>
<p>Tentarei ligar novamente dentro de 10 minutos, caso prefira, voc&ecirc; pode acessar o link da nossa reuni&atilde;o: <strong>{meet}</strong></p>
<p>Atenciosamente,</p>
