<p>Ol&aacute; <strong>{advertiser}</strong>,</p>
<p>Esperamos que voc&ecirc; esteja tendo um &oacute;timo dia!</p>
<p>Recebemos seu caso <strong>{case_id}</strong> para implementar <strong>{IDENTIFIER_APPOINTMENT_TASK}</strong> em seu site <strong>{url}</strong></p>
<p>Para prosseguir com a implementa&ccedil;&atilde;o das Convers&otilde;es Otimizadas de acordo com nossa consultoria agendada, precisar&iacute;amos da sua confirma&ccedil;&atilde;o sobre os seguintes pontos:</p>
<ol>
<li><strong>[IMPORTANTE] Solicitar que voc&ecirc; revise os "Termos de dados do cliente" e tome as medidas necess&aacute;rias em sua conta do Google Ads (se ainda n&atilde;o o fez)</strong></li>
<li><strong>[IMPORTANTE] Confirme se o seu desenvolvedor com acesso ao back-end do seu site est&aacute; dispon&iacute;vel para participar do nosso compromisso agendado</strong></li>
</ol>
<p><strong>NOTA: Se voc&ecirc; n&atilde;o tiver um desenvolvedor web dispon&iacute;vel para nossa consultoria agendada, infelizmente n&atilde;o podemos garantir uma implementa&ccedil;&atilde;o bem-sucedida/completa. Como alternativa, ficar&iacute;amos felizes em reagendar a consultoria assim que poss&iacute;vel, assim que voc&ecirc; confirmar a disponibilidade do desenvolvedor web.</strong></p>
<p>Ansioso para trabalhar com voc&ecirc;!</p>
