<!--MMS ES-->
<p>Hola <strong>{advertiser}</strong>,</p>
<p>&iexcl;Esperamos que est&eacute;s teniendo un gran d&iacute;a!</p>
<p>Hemos recibido su caso <strong>{case_id}</strong> para implementar Conversiones Mejoradas en su sitio web <strong>{url}</strong></p>
<p>Para continuar con la implementaci&oacute;n de <strong>Conversiones mejoradas</strong> seg&uacute;n nuestra cita programada, necesitamos su confirmaci&oacute;n en los siguientes puntos:</p>
<ol>
<li><strong>[IMPORTANTE] Solicitarle que revise los "T&eacute;rminos de datos del cliente" y tome las medidas necesarias en su cuenta de Google Ads (si a&uacute;n no lo ha hecho)</strong></li>
<li><strong>[IMPORTANTE] Confirme si su desarrollador web con acceso al backend de su sitio web est&aacute; disponible para unirse a nuestra cita programada</strong></li>
</ol>
<p><strong>NOTA: Si no tiene un desarrollador web disponible para nuestra cita programada, lamentablemente no podemos garantizar una implementaci&oacute;n exitosa/completa. Alternativamente, nos complacer&aacute; reprogramar la cita lo antes posible una vez que confirme la disponibilidad del desarrollador web.</strong></p>
<p>&iexcl;A la espera de saber de ti!</p>
