<p dir="auto"><p><span style="color:#212529;font-size:11pt;">Hola</span><strong><span style="color:#212529;font-size:11pt;">&nbsp;{advertiser}</span></strong><span style="color:#212529;font-size:11pt;">:</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">&iexcl;Espero que est&eacute;s teniendo un buen d&iacute;a!</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Somos el Equipo de Soluciones T&eacute;cnicas e intentamos comunicarnos con usted hoy con respecto a la consultor&iacute;a programada para&nbsp;</span><strong><span style="color:#212529;font-size:11pt;">{url}</span></strong><span style="color:#212529;font-size:11pt;">, pero desafortunadamente no pudimos comunicarnos con usted.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Hemos reprogramado su cita para</span><strong><span style="color:#212529;font-size:11pt;">&nbsp;{insertar fecha y hora}</span></strong><span style="color:#212529;font-size:11pt;">.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Si por alg&uacute;n motivo no est&aacute; disponible en este momento, utilice el enlace de modificaci&oacute;n de cita para reprogramar la consulta seg&uacute;n le convenga.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">&iexcl;Esperamos poder hablar con usted!</span></p>
<p><br></p>
<p><br></p>
<p><strong><span style="color:#212529;font-size:11pt;">{agent}</span></strong><span style="color:#212529;font-size:11pt;">&nbsp;Equipo de soluciones t&eacute;cnicas de Cognizant, en nombre de Google</span></p></p>
