<p><span style="color:#212529;font-size:11pt;">Ol&aacute; &nbsp;</span><strong><span style="color:#212529;font-size:11pt;">{advertiser}</span></strong><span style="color:#212529;font-size:11pt;">,&nbsp;</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Espero que voc&ecirc; esteja tendo um bom dia!</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Somos a Equipe de Solu&ccedil;&otilde;es T&eacute;cnicas e tentamos entrar em contato com voc&ecirc; hoje a respeito da consultoria agendada para o&nbsp;</span><strong><span style="color:#212529;font-size:11pt;">{url}</span></strong><span style="color:#212529;font-size:11pt;">, mas infelizmente n&atilde;o conseguimos entrar em contato com voc&ecirc;.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Remarcamos sua consulta para&nbsp;</span><strong><span style="color:#212529;font-size:11pt;">{inserir data e hor&aacute;rio}</span></strong><span style="color:#212529;font-size:11pt;">.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Se por algum motivo voc&ecirc; n&atilde;o estiver dispon&iacute;vel neste hor&aacute;rio, use o Link Modificador de Agendamento para remarcar a consultoria conforme sua conveni&ecirc;ncia.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Estamos ansiosos para falar com voc&ecirc;!</span></p>
<p><br></p>
<p><br></p>
<p><strong><span style="font-size:11pt;">{agent}</span></strong><span style="font-size:11pt;">&nbsp;Time de Solu&ccedil;&otilde;es T&eacute;cnicas Cognizant, em nome do Google</span></p>
