<p dir="auto"><p><span style="color:#212529;font-size:11pt;">Hola</span><strong><span style="color:#212529;font-size:11pt;">&nbsp;{advertiser}</span></strong><span style="color:#212529;font-size:11pt;">:</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">&iexcl;Espero que est&eacute;s teniendo un buen d&iacute;a!</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Somos el Equipo de Soluciones T&eacute;cnicas e intentamos comunicarnos con usted hoy con respecto a la consultor&iacute;a programada para&nbsp;</span><strong><span style="color:#212529;font-size:11pt;">{url}</span></strong><span style="color:#212529;font-size:11pt;">, pero desafortunadamente no pudimos comunicarnos con usted.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Hemos reprogramado su cita para</span><strong><span style="color:#212529;font-size:11pt;">&nbsp;{insertar fecha y hora}</span></strong><span style="color:#212529;font-size:11pt;">.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">Si por alg&uacute;n motivo no est&aacute; disponible en este momento, utilice el enlace de modificaci&oacute;n de cita para reprogramar la consulta seg&uacute;n le convenga.</span></p>
<p><br></p>
<p><span style="color:#212529;font-size:11pt;">&iexcl;Esperamos poder hablar con usted!</span></p>
<p><br></p>
<p><br></p>
<div dir="ltr" style="font-family: Roboto, sans-serif; font-size: 13px;" align="left">
    <table style="border: none; border-collapse: collapse; line-height: normal;">
      <colgroup>
        <col width="348">
      </colgroup>
      <tbody>
        <tr style="height:89.25pt">
          <td style="vertical-align:top;overflow:hidden;overflow-wrap:break-word;">
            <p dir="ltr" style="line-height:1.345;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 10pt; font-family: &quot;Google Sans&quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">&nbsp;</span>
            </p>
            <div dir="ltr" style="margin-left:0pt;" align="left">
              <table style="border:none;border-collapse:collapse;">
                <colgroup>
                  <col width="81">
                  <col width="199">
                </colgroup>
                <tbody>
                  <tr style="height:45pt">
                    <td style="border-right:solid #d5d5d5 0.75pt;vertical-align:middle;padding:0pt 15pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;">
                      <p dir="ltr" style="line-height:1.3800000000000001;margin-top:0pt;margin-bottom:0pt;"><a href="https://www.youtube.com/watch?v=HcjR6ZngQcw"><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;"><span style="border:none;display:inline-block;overflow:hidden;width:59px;height:60px;"><img src="https://lh7-us.googleusercontent.com/z_puy2832ORHWOlJeXbacK_EporUukpGDpD6q01WGRfRhfWit7rWPd1s0-6IAbPOjQCaum5WtM7zxHtnl7PxePIceOv3AR-gpqy63-WudQVYGnRv2NiMrbckv8fC9jZI1qmaKWTR5Gm9iqJkvNg-3fsK3q-_sF6ISm0l-75QNc0g7tUpHhhm-R__u4Bxddc" width="59" height="60" style="margin-left:0px;margin-top:0px;"></span></span></a></p>
                    </td>
                    <td style="border-left:solid #d5d5d5 0.75pt;vertical-align:top;padding:0pt 0pt 0pt 15pt;overflow:hidden;overflow-wrap:break-word;">
                      <p dir="ltr" style="line-height:1.7999999999999998;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 9pt; font-family: &quot;Google Sans&quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">&nbsp;</span>
                      </p>
                      <div dir="ltr" style="margin-left:0pt;" align="left">
                        <table style="border:none;border-collapse:collapse;">
                          <colgroup>
                            <col width="177">
                          </colgroup>
                          <tbody>
                            <tr style="height:13pt">
                              <td style="vertical-align:top;padding:0pt 0pt 4pt 0pt;overflow:hidden;overflow-wrap:break-word;">
                                <p dir="ltr" style="line-height:1.3800000000000001;margin-top:0pt;margin-bottom:0pt;">
                                  <span style="font-size: 9pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; vertical-align: baseline; white-space-collapse: preserve;">{agent},<br>El equipo de Soluciones Tecnicas Cognizant, en nombre de Google</span></p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div><br>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br style="font-family: Roboto, sans-serif; font-size: 13px;"><br style="font-family: Roboto, sans-serif; font-size: 13px;"><br style="font-family: Roboto, sans-serif; font-size: 13px;">
<p dir="ltr" style="font-family: Roboto, sans-serif; font-size: 13px;"><span style="font-weight: bold; font-style: italic;">Condiciones:</span><span style="font-style: italic;"> Al responder
    este mensaje, usted reconoce que, por el presente, autoriza a un especialista en implementación de Google a guiarlo
    a través del proceso de instalación de Google Tag Manager Installation, Adwords Conversion Code en su sitio web,
    campaña o cuenta de Analytics, según sea necesario. Por el presente, usted acepta y reconoce que únicamente
    efectuará todos los cambios que sugiera y/o implemente Google por decisión propia y bajo su propia responsabilidad.
    Google no garantiza ni promete ningún tipo de resultado por implementar tales cambios. Asimismo, Google no se hace
    responsable de los efectos de dichos cambios, incluidos, entre otros, aumentos en la inversión relacionados con sus
    campañas de Google Ads, por los que usted será el único responsable. A su vez, usted acepta validar que su sitio web
    continúe funcionando de la forma deseada.</span></p><br style="font-family: Roboto, sans-serif; font-size: 13px;">
<p dir="ltr" style="font-family: Roboto, sans-serif; font-size: 13px;"><span style="font-weight: bold; font-style: italic;">Nota:</span><span style="font-style: italic;"> Le recomendamos que se
    asegure de crear una copia de seguridad completa de su sitio web antes de aplicar cualquier cambio. Por otra parte,
    NO debe compartir sus credenciales del sitio conmigo ni con ninguna otra persona de Google. Por último, si hace
    cambios en su sitio web o en su cuenta mientras trabajamos en su solicitud, es posible que pierda algunos de los
    cambios o parte de la configuración. Le sugerimos que se abstenga de realizar cambios en su sitio web o cuenta hasta
    que se hayan implementado los cambios recomendados.</span></p>
